node_modules
dist
doc

#解决如下警告
#warning  File ignored by default.
#Use a negated ignore pattern (like "--ignore-pattern '!<relative/path/to/filename>'") to override
#!.eslintrc.js

.github/**/*
lib/**/*.test.tsx
lib/**/**
