.example-header {
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 8px #f0f1f2;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
  &_logo {
    flex: 0 0 260px;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    &-image {
      width: 40px;
      border-radius: 50%;
    }
    &-description {
      padding-left: 20px;
      font-weight: 500;
    }
    &::after {
      content: "";
      width: 1px;
      height: 26px;
      background-color: #ccc;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
