.code-card {
  width: 80%;
  border: 1px solid #ccc;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  padding: 50px;

  > h1 {
    font-size: 26px;
    margin-top: 0;
  }

  &_demo {
    //display: flex;
    //flex-wrap: wrap;
    //align-items: center;
  }

  .icon-code-toggle {
    cursor: pointer;
  }
}

.code-mirror_container {
  .CodeMirror {
    z-index: 0;
    height: auto;
  }
}

.code-enter {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top left;
}

.code-enter-active {
  opacity: 1;
  transform: scaleY(1);
  transition: opacity 300ms, transform 300ms;
}

.code-exit {
  opacity: 1;
}

.code-exit-active {
  opacity: 0;
  transform: scaleY(0.9);
  transform-origin: top left;
  transition: opacity 300ms, transform 300ms;
}
