.code-card {
  > h1 {
    font-size: 30px;
    margin-top: 0;
  }

  &_demo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .icon-code-toggle {
    cursor: pointer;
  }
}

.code-mirror_container {
  .CodeMirror {
    height: auto;
  }
}

.code-enter {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top left;
}

.code-enter-active {
  opacity: 1;
  transform: scaleY(1);
  transition: opacity 300ms, transform 300ms;
}

.code-exit {
  opacity: 1;
}

.code-exit-active {
  opacity: 0;
  transform: scaleY(0.9);
  transform-origin: top left;
  transition: opacity 300ms, transform 300ms;
}
