.example-layout {
  .text-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .light {
    background-color: #7dbcea;
  }

  .dark {
    background-color: #1890ff;
  }

  .light-dark {
    background-color: #3ba0e9;
  }
}
