name: Jekyll Deploy

on: [push]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build & Deploy to GitHub Pages
        env:
          GITHUB_TOKEN: ${{ secrets.access_token }}
          GITHUB_REPOSITORY: ${{ secrets.github_repository }}
          GITHUB_ACTOR: ${{ secrets.github_actor }}
        uses: BryanSchuetz/jekyll-deploy-gh-pages@master
