.example-grid {
  &-col {
    color: #fff;
    height: 60px;
    text-align: center;
    line-height: 60px;
  }

  .light {
    background-color: #0092ffbf;
  }

  .dark {
    background-color: #0092ff;
  }
}
